body {
    margin: 0rem;
    background-color: rgb(111, 141, 233);
    color: rgb(45, 58, 96);
}

p {
    word-break: break-all;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    padding: 0.5rem;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0rem 0.5rem;
    height: 2.5rem;
    min-width: 4rem;
}
button:hover, button:active {
    opacity: 0.8;
    cursor: pointer;
}

textarea {
    background-color: rgb(212, 246, 246);
    border: solid rgb(207, 226, 226);
    /* border: none; */
    height: 3.5rem;
    resize: vertical;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.button-upload,
.button-download,
.button-new-todo,
.button-save,
.button-edit,
.button-hamburger,
.button-show-checked {
    background-color: rgb(183, 255, 254);
}

.button-hamburger-off,
.button-show-checked-off {
    opacity: 0.8;
}

.button-cancel,
.button-uncheck {
    background-color: rgb(255, 230, 203);
}

.button-delete-checked,
.button-delete {
    background-color: rgb(244, 172, 136);
}

.button-check {
    background-color: rgb(195, 247, 196);
}

#main-container {
    background-color: rgb(141, 171, 253);
    font-size: 1.0rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* font-family: 'Source Sans Pro', monospace; */
}
#main-container > div {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
#main-container > div:first-child {
    margin-top: 0.5rem;
}

#app-options > .page-options,
#app-options > .todo-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(123, 149, 226);
}
#app-options > .page-options > div,
#app-options > .todo-options > div {
    margin: 0.5rem 0.5rem;
}
/* #app-options > .page-options > div:first-child, */
#app-options > .todo-options > div:first-child {
    margin-right: auto;
}
#app-options > .todo-options > div > button {
    height: 2.5rem;
    /* width: 8rem; */
}

#todo-entries > .todo-entry-unchecked,
#todo-entries > .todo-entry-checked {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#todo-entries>div:nth-child(even) {
    background-color: rgb(174, 215, 212);
}
#todo-entries>div:nth-child(odd) {
    background-color: rgb(154, 195, 202);
}
#todo-entries > .todo-entry-unchecked > div:first-child,
#todo-entries > .todo-entry-checked > div:first-child {
    width: 100%;
}
#todo-entries > .todo-entry-checked > div {
    text-decoration: line-through;
    opacity: 0.5;
}
#todo-entries > .todo-entry-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#todo-entries > .todo-entry-edit > div {
    margin: 0.5rem 1rem;
}
#todo-entries > .todo-entry-edit > div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
}
#todo-entries > .todo-entry-edit > div > textarea {
    width: 80%;
    max-width: 30rem;
    padding: 0.2rem;
    text-align: center;
}
