body {
    margin: 0rem;
    background-color: rgb(111, 141, 233);
    color: rgb(45, 58, 96);
    font-size: 1rem;
    /* font-family: 'Source Sans Pro', monospace; */
}

p {
    word-break: break-all;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    padding: 0.5rem;
}

button {
    color: inherit;
    font-size: inherit;
    border: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0rem 0.5rem;
    height: 2.5rem;
    min-width: 4rem;
}
button:hover, button:active {
    opacity: 0.8;
    cursor: pointer;
}

textarea {
    background-color: rgb(157, 201, 254);
    color: inherit;
    width: 80%;
    max-width: 30rem;
    padding: 0.3rem;
    /* height: 3rem; */
    border: none;
    resize: vertical;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-align: center;
    scrollbar-width: none;
}

.button-new-todo,
.button-upload,
.button-download,
.button-save,
.button-edit,
.button-hamburger,
.button-show-checked {
    background-color: rgb(157, 201, 254);
}

.button-hamburger-off,
.button-show-checked-off {
    opacity: 0.8;
    background-color: rgb(152, 183, 209);
}

.button-cancel,
.button-uncheck {
    background-color: rgb(238, 211, 181);
}

.button-delete-checked,
.button-delete {
    background-color: rgb(241, 178, 148);
}

.button-check {
    background-color: rgb(195, 247, 196);
}

#main-container {
    background-color: rgb(141, 171, 253);
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}
#main-container > div {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
#main-container > div:first-child {
    margin-top: 0.5rem;
}

#app-options > .todo-options,
#app-options > .hamburger-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#app-options > .todo-options {
    background-color: rgb(131, 158, 236);
}

#app-options > .hamburger-options {
    background-color: rgb(120, 145, 221);
}
#app-options > .todo-options > div,
#app-options > .hamburger-options > div {
    margin: 0.5rem 0.5rem;
}
#app-options > .todo-options > div:first-child {
    margin-right: auto;
}
#app-options > .hamburger-options > div:last-child {
    margin-left: auto;
}
#app-options > .hamburger-options > div > button {
    width: 10rem;
}

#todo-entries > .todo-entry-unchecked,
#todo-entries > .todo-entry-checked {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#todo-entries>div:nth-child(odd) {
    background-color: rgb(131, 158, 236);
}
#todo-entries>div:nth-child(even) {
    background-color: rgb(120, 145, 221);
}
#todo-entries > .todo-entry-unchecked > div:first-child,
#todo-entries > .todo-entry-checked > div:first-child {
    width: 100%;
}
#todo-entries > .todo-entry-checked > div:first-child {
    text-decoration: line-through;
    opacity: 0.5;
}
#todo-entries > .todo-entry-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#todo-entries > .todo-entry-edit > div {
    margin: 0.5rem 1rem;
}
#todo-entries > .todo-entry-edit > div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
}
