body {
    margin: 0rem;
    background-color: rgb(111, 141, 233);
    color: rgb(45, 58, 96);
}

p {
    margin: auto;
    box-sizing: border-box;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0rem 0.5rem;
    height: 2.5rem;
    min-width: 4rem;
}
button:hover, button:active {
    opacity: 0.8;
    cursor: pointer;
}

textarea {
    background-color: rgb(230, 246, 246);
    border: solid rgb(207, 226, 226);
    /* border: none; */
    height: 3.5rem;
    resize: vertical;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

#todo-entries>div:nth-child(even) {
    background-color: rgb(174, 215, 212);
}

#todo-entries>div:nth-child(odd) {
    background-color: rgb(154, 195, 202);
}

.button-new-todo,
.button-save,
.button-show-completed {
    background-color: rgb(183, 255, 254);
}

.button-cancel,
.button-uncheck {
    background-color: rgb(255, 240, 203);
}

.button-delete {
    background-color: rgb(244, 172, 136);
}

.button-check,
.button-restore {
    background-color: rgb(195, 247, 196);
}

.main-container {
    background-color: rgb(141, 171, 253);
    font-size: 1.0rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* gap: 1rem; */
    /* font-family: 'Source Sans Pro', monospace; */
}
.main-container > div {
    margin: 0.5rem 0.5rem;
}

#todo-options > .todo-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(123, 149, 226);
    /* gap: 1rem; */
}
#todo-options > .todo-options > div {
    margin: 0.5rem 0.5rem;
}
#todo-options > .todo-options > div:first-child {
    margin-right: auto;
}
#todo-options > .todo-options > div > button {
    height: 2.5rem;
    width: 5rem;
}

#todo-entries > .todo-entry-unchecked {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    /* align-items: center; */
    /* justify-content: space-between; */
}
#todo-entries > .todo-entry-unchecked > div {
    /* background-color: rgb(83, 152, 181); */
    margin: 0.5rem 0.5rem;
    /* padding: 0.4rem; */
    /* margin: 0.3rem 0.3rem; */
    /* align-items: flex-start; */
    /* min-height: 3rem; */
    /* justify-content: center; */
    /* height: 100%; */
}
#todo-entries > .todo-entry-unchecked > div:first-child {
    display: flex;
    align-items: center;
    margin-right: auto;
    /* width: 100%; */
}

#todo-entries > .todo-entry-checked {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
#todo-entries > .todo-entry-checked > div {
    text-decoration: line-through;
    margin: 0.5rem 0.5rem;
}
#todo-entries > .todo-entry-checked > div:first-child {
    display: flex;
    align-items: center;
    margin-right: auto;
}

#todo-entries > .todo-entry-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#todo-entries > .todo-entry-edit > div {
    margin: 0.5rem 1rem;
}
#todo-entries > .todo-entry-edit > div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
}
#todo-entries > .todo-entry-edit > div > textarea {
    width: 80%;
    max-width: 30rem;
    padding: 0.2rem;
    text-align: center;
}
